@import '../../../variables.scss';
@import '../../../mixins.scss';

.breadcrumb {
  background-color: $transparent;
  color: #727272;
  font-family: 'OpenSans';
  font-size: 12px;
  padding: 10px 0px;
  text-transform: uppercase;
  .breadcrumb-item {
    a {
      color: $principal-color;
      text-decoration: underline;
    }
  }
}