$background-color: #e3e3e3;
$principal-color: #00ad90;
$white-color: #FFF;
$black-color: #000;
$transparent: transparent;

.header {
  align-items: center;
  background-color: $white-color;
  box-shadow: 0px 3px 6px rgba($color: $black-color, $alpha: 0.1);
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 30px;
  padding: 10px;
  &__logout {
    background-color: #efefef;
    border-radius: 3px;
    color: #878787;
    font-family: 'OpenSans';
    font-size: 12px;
    padding: 7px 12px;
    text-transform: uppercase;
    img {
      margin-left: 5px;
    }
    &:hover {
      text-decoration: none;
    }
  }
}