@import '../../../variables.scss';
@import '../../../mixins.scss';

.header {
  background-color: $white-color;
  box-shadow: 0px 3px 6px rgba($color: $black-color, $alpha: 0.1);
  height: 50px;
  margin-bottom: 30px;
  padding: 10px;
  @include centralizedFlex(center, inherit, row);
  &__logout {
    background-color: #efefef;
    border-radius: $border-radius-default;
    color: #878787;
    float: right;
    font-family: 'OpenSans';
    font-size: 12px;
    padding: 7px 12px;
    text-transform: uppercase;
    transition: all ease .2s;
    img {
      margin-left: 5px;
      &.hover {
        display: none;
      }
    }
    &:hover {
      text-decoration: none;
      background-color: #888888;
      color: $white-color;
      img {
        display: none;
        &.hover {
          display: initial;
        }
      }
    }
  }
}