$background-color: #e3e3e3;
$principal-color: #00ad90;
$white-color: #FFF;
$black-color: #000;
$transparent: transparent;

.card {
  background-color: #fafafa;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  &__body {
    padding: 15px;
    padding-bottom: 70px;
    position: relative;
    &--title {
      padding: 15px;
      position: relative;
      h3 {
        color: #444444;
        font-family: 'Antonio';
        font-size: 18px;
        font-weight: bold;
        margin: 0px;
        text-align: center;
      }
      &:before {
        background-color: #c0c0c0;
        bottom: 0;
        content: '';
        display: flex;
        height: 2px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 70px;
      }
    }
    &--subtitle {
      margin-bottom: 15px;
      position: relative;
      width: 100%;
      p {
        background-color: #fafafa;
        color: #888888;
        display: table;
        font-size: 11px;
        margin: 0 auto;
        padding: 0px 20px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        z-index: 1;
      }
      &:before {
        background-color: #e8e8e8;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        width: 100%;
      }
    }
    &--changepic {
      align-items: center;
      display: flex;
      justify-content: center;
      .photo {
        border-radius: 50%;
        height: 85px;
        overflow: hidden;
        width: 85px;
        align-items: center;
        display: flex;
        justify-content: center;
        img {
          width: 200%;
        }
      }
      button {
        background-color: $principal-color;
        border: none;
        border-radius: 3px;
        color: $white-color;
        cursor: pointer;
        font-size: 12px;
        margin-left: 10px;
        outline: none;
        padding: 8px 20px;
      }
    }
    &--formgroup {
      margin-bottom: 15px;
      label {
        color: #888888;
        font-size: 11px;
        text-transform: uppercase;
      }
      input, select {
        background-color: $transparent;
        color: #888888;
        font-size: 12px;
      }
    }
    &--button {
      background-color: #f0f0f0;
      border: none;
      bottom: 0;
      color: #444444;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      height: 50px;
      left: 0;
      outline: none;
      position: absolute;
      right: 0;
      text-transform: uppercase;
      width: 100%;
    }
    .button-address {
      background-color: $principal-color;
      border: none;
      border-radius: 3px;
      color: $white-color;
      cursor: pointer;
      font-size: 12px;
      margin: auto;
      outline: none;
      padding: 8px 20px;
    }
    .form-check {
      display: flex;
      align-items: center;
      .form-check-label {
        color: #888888;
        font-size: 12px;
        margin-top: 3px;
        margin-left: 8px;
      }
    }
  }
}