<title-component title="PERFIL"></title-component>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card__body">
        <div class="card__body--title">
          <h3>Dados de Cadastro</h3>
        </div>
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="card__body--changepic">
                <div class="photo">
                  <img src="https://s2.glbimg.com/ZG5Ht8GTEnigpVOv5Wq1DmCAF_I=/600x400/smart/e.glbimg.com/og/ed/f/original/2018/04/11/screen_shot_2018-04-11_at_09.34.41.png" alt="">
                </div>
                <button type="button">Trocar foto</button>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card__body--formgroup">
                <label>Nome fantasia</label>
                <input type="text" class="form-control">
              </div>
              <div class="card__body--formgroup">
                <label>Razão social</label>
                <input type="text" class="form-control">
              </div>
              <div class="card__body--formgroup">
                <label>Email</label>
                <input type="email" class="form-control">
              </div>
            </div>
          </div>
          <button type="button" class="card__body--button">Salvar alterações</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card__body">
        <div class="card__body--title">
          <h3>Dados de Faturamento</h3>
        </div>
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="card__body--formgroup">
                <label>Nome fantasia</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="card__body--formgroup">
                <label>Razão social</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="card__body--formgroup">
                <label>Email</label>
                <input type="email" class="form-control">
              </div>
            </div>
          </div>
          <button type="button" class="card__body--button">Salvar alterações</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card__body">
        <div class="card__body--title">
          <h3>Dados Bancários</h3>
        </div>
        <form>
          <div class="row">
            <div class="col-md-10">
              <div class="card__body--formgroup">
                <label>CNPJ</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-2">
              <div class="card__body--formgroup">
                <label>ID Pagar.me</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-12">
              <div class="card__body--subtitle">
                <p>Dados bancários</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card__body--formgroup">
                <label>Banco</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-3">
              <div class="card__body--formgroup">
                <label>Agência (Sem dígito)</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-3">
              <div class="card__body--formgroup">
                <label>Conta (Com dígito)</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="card__body--formgroup">
                <label>Tipo de conta</label>
                <input type="email" class="form-control">
              </div>
            </div>
          </div>
          <button type="button" class="card__body--button">Salvar alterações</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card__body">
        <div class="card__body--title">
          <h3>Senha</h3>
        </div>
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="card__body--formgroup">
                <label>Senha atual</label>
                <input type="password" class="form-control">
              </div>
            </div>
            <div class="col-md-12">
              <div class="card__body--subtitle">
                <p>Nova senha</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card__body--formgroup">
                <label>Nova senha</label>
                <input type="password" class="form-control">
              </div>
            </div>
            <div class="col-md-12">
              <div class="card__body--formgroup">
                <label>Confirme nova senha</label>
                <input type="password" class="form-control">
              </div>
            </div>
          </div>
          <button type="button" class="card__body--button">Salvar alterações</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card__body">
        <div class="card__body--title">
          <h3>Endereços da empresa</h3>
        </div>
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="card__body--subtitle mt-4">
                <p>Endereço</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Example checkbox
                </label>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card__body--formgroup">
                <label>CEP</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-10">
              <div class="card__body--formgroup">
                <label>Rua</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-5">
              <div class="card__body--formgroup">
                <label>Complemento</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-5">
              <div class="card__body--formgroup">
                <label>Cidade</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-2">
              <div class="card__body--formgroup">
                <label>Estado</label>
                <input type="email" class="form-control">
              </div>
            </div>
            <div class="col-md-12 d-flex mt-2">
              <button type="button" class="button-address">Adicionar endereço</button>
            </div>
          </div>
          <button type="button" class="card__body--button">Salvar alterações</button>
        </form>
      </div>
    </div>
  </div>
</div>


