@import '../../../variables.scss';
@import '../../../mixins.scss';

.title {
  font-family: 'OpenSans';
  margin-bottom: 20px;
  @include centralizedFlex(center);
  &__text {
    color: #444444;
    font-family: 'Antonio';
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
  }
  &__export {
    float: right;
    button {
      background-color: $transparent;
      border: none;
      color: $principal-color;
      cursor: pointer;
      font-size: 14px;
      outline: none;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}