<title-component title="ESTOQUE" [showFilters]="true"></title-component>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <input type="checkbox" name="" id="">
              <img src="assets/icons/ICON_seta_combo.svg" alt="">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </div>
        </th>
        <th scope="col">Ativo
          <img src="assets/icons/ICON_seta_baixo.svg" alt="">
        </th>
        <th scope="col">Cód.
          <img src="assets/icons/ICON_seta_baixo.svg" alt="">
        </th>
        <th scope="col">Produto
          <img src="assets/icons/ICON_seta_baixo.svg" alt="">
        </th>
        <th scope="col">Qtd.
          <img src="assets/icons/ICON_seta_baixo.svg" alt="">
        </th>
        <th scope="col">Total
          <img src="assets/icons/ICON_seta_baixo.svg" alt="">
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="checkbox" name="" id="">
        </td>
        <td>
          <ngx-toggle
            onColor="{{model.onColor}}"
            onText="{{model.onText}}"
            offColor="{{model.offColor}}"
            offText="{{model.offText}}"
            [disabled]="model.disabled"
            [size]="model.size"
            [(value)]="model.value">
          </ngx-toggle>
        </td>
        <td>1234</td>
        <td>
          <div class="product">
            <div class="product__image">
              <img src="http://marcheartdevie.com.br/shop/6102-large_default/CADEIRA-MACCHIATO.jpg" alt="">
            </div>
            <div class="product__name">
              Lorem ipsum dolor sit amet
            </div>
          </div>
        </td>
        <td>2</td>
        <td>R$2.500,00</td>
        <td>
          <button class="see">Ver</button>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="" id="">
        </td>
        <td>
          <ngx-toggle
            onColor="{{model.onColor}}"
            onText="{{model.onText}}"
            offColor="{{model.offColor}}"
            offText="{{model.offText}}"
            [disabled]="model.disabled"
            [size]="model.size"
            [(value)]="model.value">
          </ngx-toggle>
        </td>
        <td>1234</td>
        <td>
          <div class="product">
            <div class="product__image">
              <img src="http://marcheartdevie.com.br/shop/6102-large_default/CADEIRA-MACCHIATO.jpg" alt="">
            </div>
            <div class="product__name">
              Lorem ipsum dolor sit amet
            </div>
          </div>
        </td>
        <td>2</td>
        <td>R$2.500,00</td>
        <td>
          <button class="see">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
