<header-component></header-component>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <menu-component></menu-component>
    </div>
    <div class="col-md-9">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <input type="checkbox" name="" id="">
              </th>
              <th scope="col">Pedido</th>
              <th scope="col">Status</th>
              <th scope="col">Entrega</th>
              <th scope="col">Período</th>
              <th scope="col">Localização</th>
              <th scope="col">Distância</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" name="" id=""></td>
              <td>21312421</td>
              <td><p class="status entregue">Entregue</p></td>
              <td>21 Jul 2018</td>
              <td>19h ~ 21h</td>
              <td>Avenida Agenor de Oliveira, 718 - Guarapiranga - São Paulo, SP - Brasil</td>
              <td>10km</td>
              <td>R$2.500,00</td>
              <td><button class="see">Ver</button></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="" id=""></td>
              <td>21312421</td>
              <td><p class="status transito">Trânsito</p></td>
              <td>21 Jul 2018</td>
              <td>19h ~ 21h</td>
              <td>Avenida Agenor de Oliveira, 718 - Guarapiranga - São Paulo, SP - Brasil</td>
              <td>10km</td>
              <td>R$2.500,00</td>
              <td><button class="see">Ver</button></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="" id=""></td>
              <td>21312421</td>
              <td><p class="status cancelado">Cancelado</p></td>
              <td>21 Jul 2018</td>
              <td>19h ~ 21h</td>
              <td>Avenida Agenor de Oliveira, 718 - Guarapiranga - São Paulo, SP - Brasil</td>
              <td>10km</td>
              <td>R$2.500,00</td>
              <td><button class="see">Ver</button></td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
