$white-color: #FFFFFF;
$black-color: #000000;
$transparent: transparent;
$principal-color: #00ad90;
$border-rounded: 50%;
$border-radius-default: 3px;
$background-color: #e3e3e3!important;

// Status colors
$entregue-color: #06a3ca; 
$pago-color: #06a3ca; 
$transito-color: #f3b100;
$cancelado-color: #fe3b15;