@import '../../../variables.scss';
@import '../../../mixins.scss';

.menu {
  background-color: #fafafa;
  &__client {
    min-height: 100px;
    @include centralizedFlex(center, center);
    &--photo {
      border-radius: $border-rounded;
      height: 55px;
      margin-right: 10px;
      overflow: hidden;
      width: 55px;
      @include centralizedFlex(center, center);
      img {
        width: 200%;
      }
    }
    &--infos {
      @include centralizedFlex(inherit, inherit, column);
      p {
        margin: 0px;
        &:nth-child(1) {
          color: #333;
          font-size: 13px;
          font-weight: bold;
        }
        &:nth-child(2) {
          color: #999;
          font-size: 9px;
          font-weight: bold;
          margin: 0px;
          text-transform: uppercase;
        }
      }
    }
  }
  &__item {
    background-color: #eeeeee;
    border-bottom: 1px solid #d4d4d4;
    color: #878787;
    font-family: 'Antonio';
    font-size: 20px;
    height: 60px;
    margin: 0px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all ease .2s;
    width: 100%;
    @include centralizedFlex(center);
    img {
      margin-right: 30px;
      &.hover {
        display: none;
      }
    }
    &:hover {
      background-color: $principal-color;
      color: $white-color;
      img {
        display: none;
        &.hover {
          display: initial;
        }
      }
    }
    &.menu-active {
      background-color: $principal-color;
      color: $white-color;
      img {
        display: none;
        &.hover {
          display: initial;
        }
      }
    }
  }
}